input.ui-ghostinput, 
.ui-ghostinput-input, 
.ui-ghostinput-label {
  	width:300px;
  	height:1.3em;
	position:absolute;
	padding:0;
	outline:0;
	margin:1px 0 0 0;
	font-size:1.1em;
}
input.ui-ghostinput{
	border: none;
	z-index:1000;
	background-color: transparent;
} 

input.ui-ghostinput.ui-state-active, input.ui-ghostinput.ui-state-hover, input.ui-ghostinput.ui-state-default {
	background: none;
}
.ui-ghostinput-wrapper {
	position:relative;
	display:inline-block;
	padding:.3em;
}
.ui-ghostinput-label {
	z-index:999;
}
.ui-ghostinput-input {
	left: 6px;
	color:#aaa;
}
.ui-ghostinput-copy {
	visibility: hidden;
	white-space: nowrap;
}